@inherits LayoutComponentBase
<div class="page-container">
    <SidebarAdmin />
    <div class="main-container">
        <HeaderAdmin />
        <main class="content-body">
            @Body
        </main>
    </div>
</div>
