@rendermode InteractiveServer

<header class="main-header">
    <div class="header-right">
        <a href="/" class="logout-btn" onclick="localStorage.removeItem('token'); localStorage.removeItem('refreshToken'); location.replace('/'); return false;">Cerrar Sesión</a>
    </div>
</header>
