@rendermode InteractiveServer
@inject NavigationManager Navigation
@implements IDisposable

<aside class="sidebar">
    <div class="sidebar-content">
        <div class="menu-section">
            <h3>General</h3>
            <button class='@MenuButtonClass("/DashboardSection")' @onclick="SeccionDashboard">Dashboard</button>
        </div>
        <div class="menu-section">
            <h3>Menú</h3>
            <button class="menu-btn">Platos</button>
            <button class="menu-btn">Bebidas</button>
        </div>
        <div class="menu-section">
            <h3>Restaurante</h3>
            <button class='@MenuButtonClass("/TablesSection")' @onclick="SeccionMesas">Mesas</button>
            <button class="menu-btn">Stock</button>
        </div>
        <div class="menu-section">
            <h3>Sistema</h3>
            <button class='@MenuButtonClass("/UsersSection")' @onclick="SeccionUsuarios">Usuarios</button>
            <button class="menu-btn">Configuración</button>
        </div>
    </div>
    <div class="logo-container">
        <img src="/img/logofast.png" alt="Logo Restaurante" class="sidebar-logo" />
    </div>
</aside>

@code{
    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void SeccionDashboard() { Navigation.NavigateTo("/DashboardSection"); }
    private void SeccionUsuarios(){Navigation.NavigateTo("/UsersSection");}
    private void SeccionMesas() { Navigation.NavigateTo("/TablesSection"); }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _ = InvokeAsync(StateHasChanged);
    }

    private string MenuButtonClass(string route)
    {
        var currentRoute = "/" + Navigation.ToBaseRelativePath(Navigation.Uri).Trim('/');
        return currentRoute.Equals(route, StringComparison.OrdinalIgnoreCase) ? "menu-btn active" : "menu-btn";
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
