@page "/HomeAdmin"


@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http

@using El_buen_sabor.Components.Layout
@layout AdminLayout

<section class="content-section">
    <h2>Datos Importantes:</h2>
    <div class="cards-grid">
        <div class="custom-card">Card 1</div>
        <div class="custom-card">Card 2</div>
        <div class="custom-card">Card 3</div>
        <div class="custom-card">Card 4</div>
    </div>
</section>

<section class="content-section">
    <h2>Platos más solicitados en el día de hoy:</h2>
    <div class="cards-grid">
        <div class="custom-card">Plato 1</div>
        <div class="custom-card">Plato 2</div>
        <div class="custom-card">Plato 3</div>
        <div class="custom-card">Plato 4</div>
    </div>
</section>

<section class="content-section">
    <h2>Cuellos de botella:</h2>
    <div class="cards-grid">
        <div class="custom-card">Incidencia 1</div>
        <div class="custom-card">Incidencia 2</div>
        <div class="custom-card">Incidencia 3</div>
        <div class="custom-card">Incidencia 4</div>
    </div>
</section>

